@import url("https://fonts.googleapis.com/css?family=Caladea|Lato|Libre+Franklin|Poppins&display=swap");

body {
  margin: 0;
  font-family: "Lato";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
